
*.mdb

*.dll

*.exe


LCPSolver/bin/Release/LCPSolver.dll.mdb

LCPSolver/obj/x86/Release/LCPSolver.dll.mdb

TestPhysics/bin/Release/TestPhysics.exe

TestPhysics/bin/Release/TestPhysics.exe.mdb

TestPhysics/obj/x86/Release/TestPhysics.exe

TestPhysics/obj/x86/Release/TestPhysics.exe.mdb


Loading/obj/Release/Loading.dll

PhysicsEngine/bin/Release/LCPSolver.dll.mdb

PhysicsEngine/bin/Release/LCPSolver.dll.mdb
*.pdb

CollisionEngine/bin/Debug/MathUtility.dll

*.cache

PhysicsUnitTest/bin/*
PhysicsUnitTest/obj/*
CollisionEngine/obj/*
LCPSolver/obj/*
CollisionEngine/bin/*
TestPhysics/obj/*
Utility/bin/*
Utility/obj/*
Loading/bin/*
Loading/obj/*
TestPhysics/obj/*
ObjectDefinition/obj/*
PhysicsEngine/obj/*
MathUtility/obj/*
TestPhysics/bin/Debug/testJointBridge.txt
*.manifest

*.suo
.vs/PhysicsEngine/v14/.suo
packages/System.Numerics.Vectors.4.3.0/dotnet_library_license.txt
*._
packages/System.Numerics.Vectors.4.3.0/lib/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.3.0/lib/netstandard1.0/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.3.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.3.0/ThirdPartyNotices.txt
packages/System.Numerics.Vectors.4.3.0/System.Numerics.Vectors.4.3.0.nupkg
packages/System.Numerics.Vectors.4.3.0/ref/net46/System.Numerics.Vectors.xml
packages/System.Numerics.Vectors.4.3.0/ref/netstandard1.0/System.Numerics.Vectors.xml
.vs/*
ConvexHullUtilities/bin/*
ConvexHullUtilities/obj/*
TestPhysics/bin/*
.suo
*.vspx
packages/*

PhysicsEngine/bin/Debug/System.Numerics.Vectors.xml
PhysicsEngine/MIConvexHull.xml
TestPhysics/MIConvexHull.xml
MathUtility/bin/x64/Debug/System.Numerics.Vectors.xml
TestPhysics/bin/x64/Debug/OpenTK.xml
TestPhysics/bin/x64/Debug/OpenTK.xml
